// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
 @import "~bootstrap/scss/tables";
 @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
 @import "~bootstrap/scss/button-group";
 @import "~bootstrap/scss/nav";
 @import "~bootstrap/scss/navbar"; // Requires nav
 @import "~bootstrap/scss/card";
 @import "~bootstrap/scss/breadcrumb";
 @import "~bootstrap/scss/accordion";
 @import "~bootstrap/scss/pagination";
 @import "~bootstrap/scss/badge";
 @import "~bootstrap/scss/alert";
 @import "~bootstrap/scss/progress";
 @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
 @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // Requires transitions
 @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
 //@import "~bootstrap/scss/carousel";
 @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas"; // Requires transitions
 @import "~bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@font-face {
 font-family: 'Gilroy';
 src: url('../fonts/Gilroy-Regular.eot');
 src: local('Gilroy Regular'), local('Gilroy-Regular'),
 url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/Gilroy-Regular.woff2') format('woff2'),
 url('../fonts/Gilroy-Regular.woff') format('woff'),
 url('../fonts/Gilroy-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: green;

//@import "icon-list";

body {
 font-size:16px;
 font-family: Gilroy, serif;
 font-weight: 400;
 background-color: #E4E4E4;
}
.logo {
 background-image: url('../images/logo.png');
 background-position: center;
 background-repeat: no-repeat;
 height: 72px;
 width:77px;
}
.container {
 max-width:1180px;
 padding:0;
}

h3 {
 font-family: Gilroy,serif;
 font-size: 22px;
 color:#2C4D84;
}
h1 {
 font-family: Forum, Serif;
 font-size: 38px;
 color:#1A1A1B;
 text-transform: uppercase;
}
p {
 margin-top:1.5rem;
 font-size:18px;
 font-family: Gilroy, Serif;
 color:#495057;
}

.header {
 margin-top:26px;
 .navbar{
  background-color: transparent ;
 }
 .nav-link {
  color:$black;
  font-family:Gilroy,sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
 }
 .nav-link:hover {
  text-decoration: underline;
 }
 .right-list {
  width:430px;
  margin-right: 0;
  .nav-item {
   flex-basis:150px;
   flex-grow: 2;
    a {
     text-align: right;
    }
  }
 }
}

.tel::before{
 content:'';
 display: inline-block;
 background-image: url('../images/phone.png');
 background-repeat: no-repeat;
 background-position: center;
 width:18px;
 height:18px;
 margin-right:10px;
 margin-top:2px;
}
.article {

 .speech1 {
  font: 64px Forum ,sans-serif;
  color: #1A1A1B;
  text-transform: uppercase;
  line-height: 120%;
  margin-top:112px;
 }
 .article__left__list {
  margin-top:36px;
 }
 ul {
  padding-left: 0rem;
  list-style-type: none;
 }

 ul li {
  padding-left: 2rem;
  background-image: url('../images/list-style-image.png');
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  margin-top:14px;
 }
 .button-consult {
  margin-top:64px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  color:#FFF;
  height:65px;
  width:316px;
  border-radius:11px;
  background: #2C4D84;
  //padding: 20px 36px;
  &:hover{
   color: #2C4D84;
   background: transparent;
   border: 1px solid #2C4D84;
  }
  &:visited {
   background: #0F2953;
   color:#fff;
  }
 }
 .right{
  margin-top:9px;
  .article__right-image{
   position:relative;
   max-width:560px;
   max-height:726px;
  }
  .article__right-image__woman {
   position: absolute;
   width:100%;
   height:auto;
   left:0;
   top:0;
   z-index: 5;
  }

  .article__right-image__emblem {
   position: absolute;
   z-index: 2;
   width:100%;

   max-width:355px;
   max-height: 770px;
   height:auto;
   left:50%;
   top:0px;
  }
 }
 margin-bottom: 100px;
}//article

.container-fluid.article2 {
 background: #FFF;
 padding-top:5rem;
 .right{
  margin-left:5rem;
  h3 {
   font-family: Gilroy,serif;
   font-size: 22px;
   color:#2C4D84;
  }
  h1 {
   margin-top:1.5rem;
   font-family: Forum, Serif;
   font-size: 38px;
   color:#1A1A1B;
  }
  p {
   margin-top:1.5rem;
   font-size:18px;
   font-family: Gilroy, Serif;
   color:#495057;
  }
  .article2__description {
    display: flex;
   flex-direction: row;
   align-items: start;
  }
  .article2__left-description{

   margin-top:2.25rem;
   font-family: Forum,Serif;
   font-size:72px;
   color:#0F2953;
   p{
    font-size:18px;
    font-family:Gilroy, serif;
    color:#495057;
   }
  }
  .article2__right-description {
   margin-top:2.25rem;
   font-family: Forum,Serif;
   font-size:72px;
   color:#0F2953;
   margin-left:9rem;
   p{
    font-size:18px;
    font-family:Gilroy, serif;
    color:#495057;
   }
  }
 }
 .article2__footer {
  margin-top:7.5rem;
  h3 {
   font-family: Gilroy,serif;
   font-size: 22px;
   color:#2C4D84;
  }
  h1 {
   //margin-top:1.5rem;
   font-family: Forum, Serif;
   font-size: 38px;
   color:#1A1A1B;
   text-transform: uppercase;
   margin-bottom: 42px;
  }
  p {
   margin-top:1.5rem;
   font-size:18px;
   font-family: Gilroy, Serif;
   color:#495057;
  }
  button {
   padding: 10px 10px;
   border-radius:10px;
   font-family: Gilroy, Serif;
   font-size: 18px;

  }

  ul.article2__footer__plus-list {
   padding-left: 0rem;
   padding-top: 52px;
   list-style-type: none;
   li {
    padding-left: 2.5rem;
    background-image: url('../images/plus.png');
    background-position: 0 0;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    margin-top:8px;
    height: 28px;
    margin-bottom:8px;
   }
  }
  ul.article2__footer__minus-list {
   padding-left: 0;
   list-style-type: none;
   padding-top: 52px;
   li {
    padding-left: 2.5rem;
    background-image: url('../images/minus.png');
    background-position: 0 0;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    margin-top:8px;
    margin-bottom:8px;
    height: 28px;
   }
   li:nth-child(3) {
    margin-bottom:28px
   }
  }
 }//article2__footer
}
.unchecked {
 border: 1px solid rgba(26, 26, 27, 0.3);
 border-radius: 10px;
 background: transparent;
 color:#1A1A1B;
 &:hover {
  background: #2C4D84;
  color:#fff;
 }
}
.container-fluid.faq{
 background: #E4E4E4;
 padding-top:5rem;
 h1 {
  padding-top:1.5rem;
 }
 .faq__names {
  margin-top:42px;
  margin-bottom:2rem;
 }
 p {
  margin-bottom: 2.25rem;
 }
 .faq__search {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  .faq__search__input {
   padding: 1rem;
   background: #FFFFFF;
   box-shadow: 0px 4px 60px rgba(26, 26, 27, 0.04);
   border-radius: 10px;
   box-sizing: border-box;
   height: 58px;
   border: none;
   &::after {
    content:'';
    display: inline-flex;
    position: relative;
    top:0px;
    left: 0px;
    background: url("../images/search_icon.png");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;

   }
  }
  .faq__search__input::placeholder {
   font-family: 'Gilroy', Serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #8C8C8D;
  }
 }
 button {
  font-size: 18px;
  padding: 10px 10px;
  border-radius:10px;
  margin-right: 5px;
  margin-bottom: 1rem;
 }
 button.readmore:nth-child(8) {
  border:none;
  background: transparent;
  color:#2C4D84;
  margin-right:0;
 }
 .faq__card {
  background: #fff;
  box-shadow: 0px 7px 60px -11px rgba(26, 26, 27, 0.09);
  border-radius: 12px;
  //z-index: 15;
  max-width:578px;
  max-height: 201px;
  width:100%;
  height:100%;
  padding: 23px 40px;
  margin-bottom:24px;
  .faq__card__name {
   background: #F3F3F6;
   padding: 4px 8px;
   font-size:13px;
   font-family: Gilroy, Serif;
   font-weight:400;
   width:76px;
  }
  .faq__card__description {
   margin-top:1rem;
   margin-bottom:1rem;
   color:#1A1A1B;
   font-size: 18px;
   font-family: Gilroy,serif;
   line-height: 27px;
   max-width:458px;
  }
  .faq__card__readmore {
   width:8px;
   height: 14px;
   position: relative;
   top:-50px;
   left:110%;
   background-image: url("../images/readmore_vector.png");
   background-size: 8px 14px;
   background-position: 0 0;
  }
  .faq__card__date {
    font-size: 13px;
   font-family: Gilroy, serif;
   color:#8C8C8D;
  }
 }
 .faq__readall {
  margin-top:2.6rem;
 }
 .faq__readall a {
  color:#2C4D84;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  text-decoration:none;
  &:hover {
   text-decoration: none;
  }
  .faq__readall__image {
   margin-left:10px;
   width:20px;
   height: 21px;
   position:relative;
   left:0;top:0;
   background: url("../images/readall__arrow.png");
   background-size: 21px 20px;
  }
 }
 .faq__readall a::after {
  content: '';
  position:relative;
  left:0;
  top:0;
  width:21px;
  height: 20px;
  background: url("../images/readall__arrow.png") 21px 20px no-repeat;

 }
 .faq__question {
  form > div {
   display: flex;
   align-content: flex-start;
   align-items: flex-start;
  }
  .faq__question__sendbutton {
   margin-right: 0;
   margin-left:1rem;
   font-size:20px;
   color:#fff;
   padding: 23.5px 36px;
   height: 72px;
  }
  .faq__question__image {
   position: relative;
   text-align: right;
   align-items: end;
   justify-content: flex-end;
  }
  .faq__question__textarea {
   background-color: white;
   color:#8C8C8D;
   resize: none;
   border: none;
   width:480px;
   height: 72px;
   padding: 12px 20px 3px 20px;
  }
  .faq__question__womanimg {
   z-index: 5;
   position:absolute;
   left:0;
   top:0;
  }
  .faq__image--emblema {
   position: absolute;
   top:-220px;
   left:0;
   z-index: 2;
   width:100%;
   //height: 100vh;
   //width: 100vw;
  }
 }
}
.container.results {
 .results__header {
  text-align: center;
 }
 .results__h1 {
  margin-top:120px;
  color:#1A1A1B;
  margin-bottom:52px;
 }

 .results__item {
  box-sizing: border-box;
  background:#fff;
  margin-right:5px;
  padding:20px;
  height:279px;
  width:33%;
  box-shadow: 0px 4px 224px -11px rgba(26, 26, 27, 0.04);
  border-radius: 15px;
  h2 {
   margin:1rem 0rem;
  }
 }

 .results__item:nth-child(3) {
  margin-right:0;
 }
 .results__price{
  margin-top:120px;
  h1{

  }
  h4{
   margin-top:1.5rem;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 125%;
   color: #2C4D84;
  }
  ul {
   list-style-type: none;
   font-size:18px;
   color:#495057;
   font-weight: 500;
   font-family: Gilroy,Serif;
  }
  ul li:nth-child(1) {
   padding-left: 3rem;
   background-image: url('../images/first_icon.png');
   background-position: 0 0;
   background-size: 34px 34px;
   background-repeat: no-repeat;
   margin-top:14px;
  }
  ul li:nth-child(2) {
   padding-left: 3rem;
   background-image: url('../images/second_icon.png');
   background-position: 0 0;
   background-size: 34px 34px;
   background-repeat: no-repeat;
   margin-top:14px;
  }
  ul li:nth-child(3) {
   padding-left: 3rem;
   background-image: url('../images/third_icon.png');
   background-position: 0 0;
   background-size: 34px 34px;
   background-repeat: no-repeat;
   margin-top:14px;
  }

 }
}
.container.wait-call {
 margin-top: 80px;
 background:#2C4D84;
 color: #2C4D84;
 width: 100%;
 height:304px;
 padding:42px 52px;
 color:#fff;
 .col {
  padding:0;
 }
 h3 {
  font-family: Forum,Serif;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: white;
  text-transform: uppercase;
 }
 p {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  margin-bottom:  20px;
  color:white;
 }
 form {
  width:100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  height: auto;
  input {
   border: 1px solid rgba(255, 255, 255, 0.5);
   background: transparent;
   border-radius: 11px;
   color: rgba(255, 255, 255, 0.5);
   padding:16px 32px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
  }
  input:nth-child(4) {
   color: #2C4D84;
   font-size: 20px;
   font-family: Gilroy, sans-serif;
   font-weight: 500;
   border: 1px solid rgba(255, 255, 255, 1);
   background: #fff;
   padding:16px 40px;
  }
 }
}
.container.readyworks {
 margin-top: 72px;
 .readyworks__header{
  display: flex;
  margin-bottom: 3rem;
  width:100%;
  flex-direction: row;
  h3 {
   font-family: Forum,Serif;
   font-size: 38px;
   font-weight: 400;
   color: #1A1A1B;
   text-transform: uppercase;
  }
 }
 .readyworks__header__right{
  display: flex;
  justify-content: end;
  align-content: flex-end;
 }
 //img {
 // width:42px;
 // height: 42px;
 // margin-left: 1rem;
 //}

 .readyworks__block {
  background: white;
  max-width:455px;
  box-sizing: border-box;
  padding: 36px 42px;
  gap: 32px;
  width:100%;
  max-height: 249px;
  border-radius: 15px;
  margin-right: 10px;
  h4{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 125%;
   color: #495057;
   margin-bottom: 40px;
  }
 }
 .readyworks__block__summa, .readyworks__block__duration {
  display: inline-block;
  text-align: left;
 }
 .readyworks__block__summa {
  img {
   width: 24px;
   height: 20px;
  }
 }
 .readyworks__block__duration {
  margin-left: 3rem;
  img {
   height: 20px;
   width: 20px;
  }

  margin-bottom: 1rem;
 }
 p {
  margin-left: 1.5rem;
 }
 .rw {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-bottom: 72px;
 }
 a {
  text-decoration: none;
 }
}
.container-fluid.video {
 background: #fff;
 h1{
  margin-top: 80px;
  margin-bottom: 52px;
 }
 .video__item{
  padding: 28px;
  width: 378px;
  height: 220px;
  background: #F3F3F6;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-right: 24px;
 }
 .video__endarticle {
  margin-top:120px;
  .row {
   padding-bottom: 140px;
  }
  img {
   max-width:400px;
   max-height: 484px;
   width: 100%;
   height: auto;
  }
  input {
   margin-top: 51px;
   font-size: 20px;
   font-family: Gilroy, sans-serif;
   font-weight: 500;
   color:#fff;
   padding:20px 36px;
   border-radius: 11px;
  }
  .video__endarticle__rightcolumn {
   padding-left: 80px;
   box-sizing: border-box;
   h6 {
    font-size: 22px;
    font-family: Gilroy, sans-serif;
    color: #2C4D84;
    font-weight: 400;
   }
   h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
   }
   p {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #495057;
   }
  }
 }
}
.container-fluid.footer {
 background: #0F2953;
 color:#fff;
 height: 371px;
 .container {
  padding: 42px 0;
  .footer__logo {
   width: 68px;
   height: 64px;
   margin: 0;
   padding: 0;
  }
  .footer__menu {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   align-content: stretch;
   justify-content: space-between;
   padding: 32px 0 28px;
   width:60%;
   li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #FFFFFF;
   }
  }
  hr {
   background: rgba(255, 255, 255, 0.15);
   max-width: 780px;
  }

  p {
   max-width: 780px;
   max-height: 85px;
   font-family: 'Gilroy', Serif;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 130%;
   color: #F3F3F6;
   margin: 0;
   padding: 0;
  }
  p:nth-child(1) {
   margin-bottom: 1rem;
  }
  .footer__contacts {
   h6 {
    font-size: 22px;
    font-family: Gilroy, sans-serif;
    color: #fff;
    font-weight: 400;
   }
   p:nth-child(1) {

   }
   p:nth-child(1) {
    margin-top: 3rem;
   }
  }
 }

}
$navbar-light-color:                rgba($black, .55);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
@import "modal";
//colors of primary second