

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
 @import "~bootstrap/scss/tables";
 @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
 @import "~bootstrap/scss/button-group";
 @import "~bootstrap/scss/nav";
 @import "~bootstrap/scss/navbar"; // Requires nav
 @import "~bootstrap/scss/card";
 @import "~bootstrap/scss/breadcrumb";
 @import "~bootstrap/scss/accordion";
 @import "~bootstrap/scss/pagination";
 @import "~bootstrap/scss/badge";
 @import "~bootstrap/scss/alert";
 @import "~bootstrap/scss/progress";
 @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
 @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // Requires transitions
 @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
 //@import "~bootstrap/scss/carousel";
 @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas"; // Requires transitions
 @import "~bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@font-face {
 font-family: 'Gilroy';
 src: url('../fonts/Gilroy-Regular.eot');
 src: local('Gilroy Regular'), local('Gilroy-Regular'),
 url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/Gilroy-Regular.woff2') format('woff2'),
 url('../fonts/Gilroy-Regular.woff') format('woff'),
 url('../fonts/Gilroy-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

//@import "icon-list";

body {
 font-size:16px;
 font-family: Gilroy, serif;
 font-weight: 400;
 background-color: #E4E4E4;
}
.logo {
 background-image: url('../images/logo.png');
 background-position: center;
 background-repeat: no-repeat;
 height: 72px;
 width:77px;
}
.container {
 max-width:1180px;
 padding:0;
}
.header {
 margin-top:26px;
 .navbar{
  background-color: transparent ;
 }
 .nav-link {
  color:$black;
  font-family:Gilroy,sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
 }
 .nav-link:hover {
  text-decoration: underline;
 }
 .right-list {
 width:430px;

  .nav-item {
   flex-basis:150px;
   flex-grow: 2;
  }
 }
}

.tel::before{
 content:'';
 display: inline-block;
 background-image: url('../images/phone.png');
 background-repeat: no-repeat;
 background-position: center;
 width:18px;
 height:18px;
 margin-right:10px;
 margin-top:2px;
}
.article {

 .speech1 {
  font: 64px Forum ,sans-serif;
  color: #1A1A1B;
  text-transform: uppercase;
  line-height: 120%;
  margin-top:112px;
 }
 .article__left__list {
  margin-top:36px;
 }
 ul {
  padding-left: 0rem;
  list-style-type: none;
 }

 ul li {
  padding-left: 2rem;
  background-image: url('../images/list-style-image.png');
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  margin-top:14px;
 }
 .button-consult {
  margin-top:64px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  color:#FFF;
  height:65px;
  width:316px;
  border-radius:11px;
  background: #2C4D84;
  //padding: 20px 36px;
  &:hover{
   color: #2C4D84;
   background: transparent;
   border: 1px solid #2C4D84;
  }
  &:visited {
   background: #0F2953;
   color:#fff;
  }
 }
 .right{
  margin-top:9px;
  .article__right-image{
   position:relative;
   max-width:560px;
   max-height:726px;
  }
  .article__right-image__woman {
   position: absolute;
   width:100%;
   height:auto;
   left:0px;
   top:0px;
   z-index: 5;
  }

  .article__right-image__emblem {
   position: absolute;
   z-index: 2;
   width:100%;
   max-width:355px;
   max-height: 770px;
   height:auto;
   left:50%;
   top:0px;
  }
 }
 margin-bottom: 100px;
}//article

.container-fluid.article2 {
 background: #FFF;
 padding-top:5rem;
 .right{
  margin-left:5rem;
  h3 {
   font-family: Gilroy,serif;
   font-size: 22px;
   color:#2C4D84;
  }
  h1 {
   margin-top:1.5rem;
   font-family: Forum, Serif;
   font-size: 38px;
   color:#1A1A1B;
  }
  p {
   margin-top:1.5rem;
   font-size:18px;
   font-family: Gilroy, Serif;
   color:#495057;
  }
  .article2__description {
    display: flex;
   flex-direction: row;
   align-items: start;
  }
  .article2__left-description{

   margin-top:2.25rem;
   font-family: Forum,Serif;
   font-size:72px;
   color:#0F2953;
   p{
    font-size:18px;
    font-family:Gilroy, serif;
    color:#495057;
   }
  }
  .article2__right-description {
   margin-top:2.25rem;
   font-family: Forum,Serif;
   font-size:72px;
   color:#0F2953;
   margin-left:9rem;
   p{
    font-size:18px;
    font-family:Gilroy, serif;
    color:#495057;
   }
  }
 }
 .article2__footer {
  margin-top:7.5rem;
  h3 {
   font-family: Gilroy,serif;
   font-size: 22px;
   color:#2C4D84;
  }
  h1 {
   //margin-top:1.5rem;
   font-family: Forum, Serif;
   font-size: 38px;
   color:#1A1A1B;
   text-transform: uppercase;
   margin-bottom: 42px;
  }
  p {
   margin-top:1.5rem;
   font-size:18px;
   font-family: Gilroy, Serif;
   color:#495057;
  }
  button {
   padding: 10px 10px;
   border-radius:10px;
   font-family: Gilroy, Serif;
   font-size: 18px;

  }
  .unchecked {
   border: 1px solid rgba(26, 26, 27, 0.3);
   border-radius: 10px;
   background: transparent;
   color:#1A1A1B;
   &:hover {
    background: #2C4D84;
    color:#fff;
   }
  }
  ul.article2__footer__plus-list {
   padding-left: 0rem;
   padding-top: 52px;
   list-style-type: none;
   li {
    padding-left: 2rem;
    background-image: url('../images/plus.png');
    background-position: 0 0;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    margin-top:8px;
    height: 28px;
    margin-bottom:8px;
   }
  }
  ul.article2__footer__minus-list {
   padding-left: 0;
   list-style-type: none;
   padding-top: 52px;
   li {
    padding-left: 2rem;
    background-image: url('../images/minus.png');
    background-position: 0 0;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    margin-top:8px;
    margin-bottom:8px;
    height: 28px;
   }
   li:nth-child(3) {
    margin-bottom:28px
   }
  }


 }//article2__footer
}
$navbar-light-color:                rgba($black, .55);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);

//colors of primary second